@page "/"
@model ChallengeCreatorModel
@{
    ViewData["Title"] = "Create a reCaptcha Challenge";
}

<h1>@ViewData["Title"]</h1>


@if (string.IsNullOrEmpty(Model.ChallengeUrl))
{
    <p>Create a new reCaptcha Challenge:</p>
    <form method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <input type="submit" value="Request reCaptcha Challenge" class="btn btn-primary">
    </form>
}
else
{
    <p>Share this URL with the person you are challenging:</p>
    <div class="input-group mb-3">
        <input class="form-control challenge-url-input" readonly="readonly" value="@Model.ChallengeUrl"/>
        <div class="input-group-append">
            <button 
                class="btn btn-outline-secondary copy-input" 
                data-copy-target=".challenge-url-input"
                type="button" 
                aria-title="Copy">
                <i class="bi bi-clipboard"></i>
            </button>
        </div>
    </div>


    <p>
        Then verify the result here using the unique challenge verification URL (ID: (@Model.ChallengeId)):
    </p>
    <a href="@Url.Page("ChallengeViewer", new {id = Model.ChallengeId})" class="btn btn-primary">Verify result</a>
}