@page
@model ChallengeModel
@{
    ViewData["Title"] = "reCaptcha Challenge";
}

@section Head{
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
}

<h1>@ViewData["Title"]</h1>


@if (string.IsNullOrEmpty(Model.ProtectedChallenge))
{
    <p>Proof that you're not a robot by solving this reCatpcha.</p>
    <form method="POST">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="g-recaptcha" data-sitekey="@Model.RecaptchaSiteKey"></div>
        <br/>
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
}
else
{
    <p>Share this result with the person that's verifying you're not a robot:</p>
    <div class="input-group mb-3">
    <input class="form-control protected-challenge-input" value="@Model.ProtectedChallenge" readonly="readonly">
        <div class="input-group-append">
            <button 
                class="btn btn-outline-secondary copy-input" 
                data-copy-target=".protected-challenge-input"
                type="button" 
                aria-title="Copy">
                <i class="bi bi-clipboard"></i>
            </button>
        </div>
    </div>
}